<section class="all-albums-section">
  <h1 class="albums-title">All Albums</h1>
  <div class="container-fluid">
   <% @albums.in_groups_of(3, false).each do |album| %>
    <div class="row">
        <% album.each do |a| %>
           <div class="col-md-4 col-lg-4">
            <div class="album-info-container">
              <%= link_to image_tag('https://lh6.ggpht.com/l3wjJ1leMIC24A5Begzi-Xe-hyB-1dPjFHEpUeJtLMHaWP_StxVuEvM1_vsN-DzTu1Y=w300'), album_path(a.id) %>
              <p class="album-info"><%=a.title %>, <%=a.album_type %></p>
              <p class="album-info"><%=a.release_date.to_formatted_s(:long_ordinal) %></p>
            </div>
          </div>
           <% end %>
          </div>
      <% end %>
  </div>
</section>
