<section class="all-bands-section">
  <div class="logo-container">
    <h1 class="logo-container-items label-name">The Roster</h1>
    <%= image_tag 'random_logo.png', class: "logo logo-container-items" %>
  </div>
  <div class="container">
   <% @bands.in_groups_of(3, false).each do |band| %>
    <div class="row">
        <% band.each do |b| %>
          <div class="col-md-4 col-lg-4">
          <div class="band-container">
            <%= link_to(band_path(b.id)) do %>
            <%= image_tag('http://ima.ulximg.com/image/src/artist/1391012279_d428521060d785b162c08a607c6d937b.jpg/508a95e221b387af8689e1cfb31eeb3d/1391012279_limp_bizkit_50106dbb9da50_79.jpg', class: 'band-photo img-responsive') %>
            <div class="band-name-container">
              <p class="band-name">
                <%= b.band_name %>
              </p>
            </div>
            <% end %>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
  </div>
</section>


