// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all-albums-section {
  padding-top: 30px;

  .albums-title {
    padding: 40px;
    text-align: center;
  }

  .album-info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    .album-info {
      text-align: center;
    }
  }


}

.new-album-section {
  padding-top: 50px;
  h1 {
    padding: 30px;
    text-align: center;
  }
}

.single-album-section {
  padding-top: 30px;

  .album-title {
    padding: 40px;
  }

  .songs-list {
    display: flex;
    
  }
}