// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-band-section {
  padding-top: 30px;

  .band-name{
    text-align: center;
    padding: 40px;
  }

  .band-profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    .stock-photo {
      max-width: 200px;
    }
  }

  .discography {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .album-art {
      max-width: 100px;
    }
  }

}

.all-bands-section {
  padding-top: 50px;
  background-color: whitesmoke;
  .logo-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 20px;
    .logo {
      max-width: 100px;
      max-height: 100px;
    }
    .logo-container-items {
       align-self: center;
    }
  }
  .band-container {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     flex-direction: column;
     padding-bottom: 15px;
     &:hover {
      .band-name-container {
       background-color: darkgrey;
      }
    }
    .band-name-container {
       padding: 20px;
       background-color: lightgrey;
        .band-name {
         text-align: center;
        }
      }
    }

}

.new-band-section {
  padding: 50px 0;
  background-color: #E5ECE9;
  width: 100%;
  height: 100%;
  .logo-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 20px;
    .logo {
      max-width: 100px;
      max-height: 100px;
    }
    .logo-container-items {
       align-self: center;
    }
  }
  .new-band-form {
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 25px 10px;
    background-color: #D6D1CD;
  }
  .motivator {
    padding-top: 50px;
  }
}