// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-band-section {

  .band-name{
    text-align: center;
    padding: 40px;
  }

  .band-profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    .stock-photo {
      max-width: 200px;
    }
  }

  .discography {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .album-art {
      max-width: 100px;
    }
  }

}

.all-bands-section {
  padding-top: 50px;
  h1 {
    padding-top: 50px;
    text-align: center;
  }
  .band-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .band-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .band {
        object-fit: fill;
      }
    }
  }

}
