// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome-section {
  margin: 0;
  padding: 0;
  border: 0;

  .splash {
    width: 100%;
    .stylish-background {
      width: 100%;
      object-fit: fill;
      position: relative;
    }

    .main-container {
      position: absolute;
      top: 200px;
      left: 40px;
      padding: 30px;
      width: auto;
      .logo-container {
        color: white;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: row-reverse;
        align-items: flex-start;
        .logo {
          max-width: 100px;
          max-height: 100px;
        }

        .logo-container-items {
          align-self: center;
        }

        .label-name {
          color: ghostwhite;
        }

      }

      .links-container {
        position: absolute;
        top: 150px;
        width: 150px;
        left: 175px;
        display: flex;
        .links {
          align-self: baseline;
          line-height: 2px;
          padding: 6px;
        }
      }
    }



  }

  .about-us {
    background-color: steelblue;
    padding-top: 125px;

    .about-us-content {
      background-color: ghostwhite;
    }

  }


}


