// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo-container{
  padding: 60px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  .logo{
    max-width: 100px;
    max-height: 100px;
  }

  .logo-container-items {
    align-self: center;
  }
}

